.ui.logo.icon.image {
  width: 35px;
  margin-right: 1em;
}
.pusher {
  margin-left: 15rem;
  min-height: 100vh;
  width: calc(100% - 15rem);
  padding: 5rem;
}
.example {
  margin: 5rem 0;
}

article.module .ui.tabs.menu {
  margin-bottom: 5rem;
}